<% provide(:title, 'About') %>

<h1>About Us</h1>

<div class="row">
	<div class="col-md-6">

		<h2>Our Food</h2>
		<p>All yoyo burgers are char grilled from fresh, we use certified traceable 100% beef and lamb as 		well as Scottish Aberdeen Angus beef from suppliers in the UK

			We are committed not to use process meat products – our chicken is fresh with zero water content for flavour and texture, the chicken nuggets are pure chunks of breasted meat, not the processed type.

			We choose vine ripened tomatoes, red onions for flavour and lollo biandi for texture, delivered daily from local vegetable suppliers.</p>

		<h2>Gallery</h2>

			<div id="carousel-example-generic" class="carousel slide" style="width: 170px; margin: 0 auto" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					<li data-target="#carousel-example-generic" data-slide-to="0"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner aboutCa">
					<div class="item active">
						<%= image_tag("poster_habanero.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<div class="item">
						<%= image_tag("poster_lunch.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<div class="item">
						<%= image_tag("poster_scampi.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<div class="item">
						<%= image_tag("poster_swiss.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<div class="item">
						<%= image_tag("poster_venison.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<div class="item">
						<%= image_tag("poster_wagyu.png")%>
						<div class="carousel-caption">

						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>

			</div>

		</div>

		<div class="col-md-6">
			<h2>Speciality Burgers</h2>

			<div class="row specialItem">

				<div class="col-md-4">

					<%= image_tag("crocodile_burgers.png")%>

				</div>

				<div class="col-md-8">

					<span class= "specialItemHeader"> Crocodile: </span>

					White meat and its nutritional composition compares favourably with that of more traditional meats. Crocodile meat has a delicate flavour, is low in fat and high in protein

				</div>

			</div>

			<div class="row specialItem">

				<div class="col-md-8">

					<span class= "specialItemHeader"> Bison: </span>

					Actually the source of the flavourful red Bison meat that is 97% fat free and contain 40% more protein than beef.  bison has a rich full flavour and it is tender
				</div>


				<div class="col-md-4">

					<%= image_tag("bison-burger.png")%>

				</div>

			</div>

			<div class="row specialItem">

				<div class="col-md-4">

					<%= image_tag("ostrich_burger.png")%>

				</div>

				<div class="col-md-8">

					<span class= "specialItemHeader"> Ostrich: </span>

					Red meat that is low in fat that can be used in any traditional red meat recipe to produce great tasting dishes. Note also the proportion of that fat that is unsaturated fat when compared to other sources of protein form a meat source

				</div>

			</div>


		</div>
