<% provide(:title, 'Contact') %>



<div class="row">

	<div class="col-md-6 col-md-offset-1">
		<h1>Contact YoYo</h1>


		<%=form_for @contact_form do |f|%> 



		<div class="form-group">
			<%= f.label "Name",:class=>"col-md-12 control-label text-center"%>
			<div class="col-md-12">
				<%= f.text_field :name, :class=>"form-control",:placeholder=>""  %>
			</div>
		</div>

		<br>
		<br>
		<div class="form-group">
			<%= f.label "Email",:class=>"col-md-12 control-label text-center"%>
			<div class="col-md-12">
				<%= f.text_field :email, :class=>"form-control",:placeholder=>""  %>
			</div>
		</div>
		<br>
		<br>

		<div class="form-group">
			<%= f.label "Message",:class=>"col-md-12 control-label text-center"%>
			<div class="col-md-12">
				<%= f.text_area :message, :class=>"form-control",:placeholder=>""  %>
			</div>
		</div>

		<br>
		<br>
		<div class="form-group text-center" >


			<%=f.button :send, :class=>"formButton"%>

		</div>

		<%end%>




	</div>

	<div class="col-md-3 col-md-offset-1 contactInfo">




		<div class="text-center">
			<h2>Get in touch</h2>

			<a href="mailto:rootnash@gmail.com?Subject=YoYo%20Customer%20Support" target="_top">
				something@yoyofoods.com</a>
				<br>
				+0117 930 4543
				<br>
				6 Byron Place
				<br>
				Bristol
				<br>
				BS8 1JT

			</div>



			<div class="row text">
				<div class="col-md-4 col-md-offset-2">

					<a href = "https://www.facebook.com/pages/YOYO-BURGER/76835309663"><div class="facebook social-slide">
					</div></a>
				</div>

				<div class="col-md-6">
					<a href = ""><div class="twitter social-slide">
					</div></a>
				</div>
			</div>

		</div>
	</div>