<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>


<div class="col-md-7">

	<h2>General Enquiries</h2>


	<%=form_for @contact_form do |f|%> 



	<div class="form-group">
			<%= f.label "Name",:class=>"col-sm-4 control-label"%>
			<div class="col-sm-4">
				<%= f.text_field :name, :class=>"form-control",:placeholder=>"Name"  %>
			</div>
		</div>


		<div class="form-group">
			<%= f.label "Email",:class=>"col-sm-4 control-label"%>
			<div class="col-sm-4">
				<%= f.text_field :email, :class=>"form-control",:placeholder=>"Email@Exmaple.com"  %>
			</div>
		</div>


		<div class="form-group">
			<%= f.label "Message",:class=>"col-sm-4 control-label"%>
			<div class="col-sm-4">
				<%= f.text_area :message, :class=>"form-control",:placeholder=>"Message"  %>
			</div>
		</div>


		<div class="form-group">
			
			<%=f.button :send%>

		</div>
		<%end%>
	
<!-- 	<form role="form">
		<div class="form-group">
			<label for="exampleInputName">NAME</label>
			<input type="text" class="form-control" id="exampleInputName4" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">E-MAIL</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>




		<div class="form-group">
			<label for="exampleMessage2">MESSAGE</label>
			<textarea type="text" class="form-control" id="exampleMessage2" rows="3" type="text" placeholder="Your Comments"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>


</div>
 -->
</div>

<div class="col-md-5">


	<h2>Contact</h2>

	<p>
	<div class="facebook social-slide">
	</div>
	</p>
	<p>
	<div class="twitter social-slide">

	</div>
</p>
	<p>
	<%= link_to image_tag("phone.jpeg",class:"brand", alt: "Rails"), '' %> 
	0117 930 4543 
</p>

	<h2>Address</h2>

	<body>
		6 Byron Place
		<br>
		Bristol
		<br>
		BS8 1JT
		<br>
	</body>

</div>