<div class="panel-heading">
<h5><a data-toggle="collapse" data-parent="#menuitemGroup" href="#collapse<%="#{menu_item.id}"%>"><%= "#{menu_item.name}" %></a></h5>
</div>
<div id="collapse<%="#{menu_item.id}"%>" class="panel-collapse collapse">
	<div class="panel-body col-md-6 col-md-offset-0">

	<p><%=menu_item.name%></p>
	<p><%=menu_item.description%></p>
	<p><%=menu_item.spice_level%></p>
		<p><%=menu_item.category%></p>
		<p><%=menu_item.price%></p>

		<% store_location %>
		<a href="../menu_items/<%= menu_item.id %>/edit" class="btn btn-sm btn-default" role="button">Edit</a>
		<%= link_to "Delete",menu_item,method: :delete,data: {confirm: "Sure?"}, :class=>"btn btn-sm btn-danger" %>
	</div>
</div>