<% provide(:title,'Menu Items') %>

<h1>Menu Items</h1>

<% if @menu_items.any? %>

<div class="panel-group" id="menuGroup">

	<div class="panel panel-default">

		<% @menu_items.each do |menuItem| %>
			<div class="panel-heading">
				<h5><a data-toggle="collapse" data-parent="#menuitemGroup" href="#collapse<%="#{menuItem.id}"%>"><%= "#{menuItem.name}" %></a></h5>
			</div>
			<div id="collapse<%="#{menuItem.id}"%>" class="panel-collapse collapse">
				<div class="panel-body col-md-6 col-md-offset-0">

					<p><%=menuItem.name%></p>
					<p><%=menuItem.description%></p>
					<p><%=menuItem.spice_level%></p>
					<p><%=menuItem.category%></p>

					<% store_location %>
					<a href="../addresses/<%= menuItem.id %>/edit" class="btn btn-sm btn-default" role="button">Edit</a>
				</div>
			</div>
		<% end %>
	</div>


</div>

<%end%>

