<div class="panel panel-default">
	<div class="panel-heading">
		<h5><a data-toggle="collapse" data-parent="#addressesGroup" href="#collapse<%="#{address.id}"%>"><%= "#{address.house_name}, #{address.first_line}" %></a></h5>
	</div>
	<div id="collapse<%="#{address.id}"%>" class="panel-collapse collapse">
		<div class="panel-body col-md-6 col-md-offset-0">

			<p><%="#{address.house_name}, #{address.first_line}"%></p>
			<p><%=address.city%></p>
			<p><%=address.area%></p>
			<p><%=address.postcode%></p>

			<% store_location %>
			<a href="../addresses/<%= address.id %>/edit" class="btn btn-sm btn-default" role="button">Edit</a>
			<a href="" class="btn btn-sm btn-danger" role="button">Delete</a>

		</div>
	</div>
</div>