<header class="header">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= link_to image_tag("yoyologo.png",class:"brand", alt: "Rails"), '' %>  
		</div>

		<div class="col-md-8">
			<div class="navbar-header">
			<ul class="nav navbar-nav">

					<% if signed_in? %>

					<p class="navbar-text">Hi <%= current_user.first_name %>!</p>

					<li> <%= link_to '<span class="glyphicon glyphicon-cog">
					</span> My Account'.html_safe,    current_user %></li>

					<li><%= link_to '<span class="glyphicon glyphicon-tower">
					</span> Loyalty Points: '.html_safe, current_user %></li>


					<li><%= link_to '<span class="glyphicon glyphicon-user">
					</span> Sign Out'.html_safe, signout_path, method:"delete" %></li>

					<%else%>

					<li><%= link_to '<span class="glyphicon glyphicon-cog">
					</span> My Account'.html_safe,    signin_path %></li>


					<li><%= link_to '<span class="glyphicon glyphicon-user">
					</span> Register'.html_safe,    '#' %></li>

					<%end%>


				</ul>
			</div>
		</div>
	</div>
	</div>
</header>

