<header class="header">
	<nav class="navbar navbar-default topnav">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">

				<% if signed_in? %>

					<p class="navbar-text">Hi <%= current_user.first_name %>!</p>

					<li> <%= link_to '<span class="glyphicon glyphicon-cog">
					</span> My Account'.html_safe,    current_user %></li>

					<li><%= link_to '<span class="glyphicon glyphicon-tower">
					</span> Loyalty Points: '.html_safe, current_user %></li>


					<li><%= link_to '<span class="glyphicon glyphicon-user">
					</span> Sign Out'.html_safe, signout_path, method:"delete" %></li>

				<%else%>

					<li><%= link_to '<span class="glyphicon glyphicon-cog">
					</span> My Account'.html_safe,    signin_path %></li>


					<li><%= link_to '<span class="glyphicon glyphicon-user">
					</span> Register'.html_safe,    '#' %></li>

				<%end%>


			</ul>
		</div>
	</nav>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
		<%= link_to image_tag("yoyologo.png",class:"brand", alt: "Rails"), '' %>  
		</div>

		<div class="col-md-9 column margindown">
			<div class="col-md-3 column">
			<h4>Free delivery on orders over £10</h4>
			</div>
			<div class="col-md-3 column">
			<h4>Call us on: 07908202950</h4>
			</div>
	        <div class="col-md-3 column">
	        <h4>Shopping Cart</h4>
			<div class="basket social-roll pull-right">
			
			</div>

			</div>
	
	
	</div>
	
	</div>

		<nav class="navbar navbar-default bottombar">
			<div class="navbar-header">
				<ul class="nav navbar-nav pull-left whitelinks">
				<li class="home"><%= link_to '<span class="glyphicon glyphicon-home">
					</span> HOME'.html_safe,root_path %>

				</li>
				<li class="dropdown">

					<%= link_to 'MENU <span class ="caret"></span>'.html_safe, menu_path, {:class=>"dropdown-toggle"} %>
				</li>
				<li><%= link_to "ABOUT",    about_path %></li>
				<li><%= link_to "CONTACT",    contact_path %></li>
			</ul>
		</div>

			<form class="navbar-form pull-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<span class="glyphicon glyphicon-search form-group">
					</span>
		</nav>
		</header>
<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="#">Home</a> <span class="divider">/</span>
				</li>
			</ul>
		</div>
	</div>
		</form>
</header>

