<header class="header">
	<div class="container headerStyle">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<%= link_to image_tag("yoyologo.png",class:"brand", alt: "Rails"), '' %>  
			</div>

			<div class="col-md-8 col-sm-8 col-xs-5 headernav">
				<div class="topnav">
					<nav class="navbar-default pull-right">
						<div class="navbar-header">
							<ul class="nav navbar-nav">

								<% if signed_in? %>

								<span class="navbar-text">Hi <%= current_user.first_name %>!</span>

								<li> <%= link_to '<span class="glyphicon glyphicon-cog">
								</span> My Account'.html_safe,    current_user %></li>

								<li><%= link_to '<span class="glyphicon glyphicon-tower">
								</span> Loyalty Points: 290 '.html_safe, current_user %></li>


								<li><%= link_to '<span class="glyphicon glyphicon-user">
								</span> Sign Out'.html_safe, signout_path, method:"delete" %></li>

								<%else%>

								<li><%= link_to '<span class="glyphicon glyphicon-cog">
								</span> My Account'.html_safe,    signin_path %></li>


								<li><%= link_to '<span class="glyphicon glyphicon-user">
								</span> Register'.html_safe,   signup_path %></li>

								<%end%>

								<li><%= link_to '<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <span class="badge">2</span> Total: £12.32'.html_safe, '#'%></li>

							</ul>
						</div>
					</nav>
				</div>

				<div class="bottomnav">
					<nav class="navbar-default">
						<div class="navbar-header">
							<ul class="nav navbar-nav">
								<li><%= link_to '<span class="glyphicon glyphicon-home">
									</span> HOME'.html_safe,root_path,{:class=>"activeLink"} %>
								</li>
								<li class="dropdown">
									<%= link_to 'MENU <span class ="caret"></span>'.html_safe, "#{menu_path}?categoryID=2", {:class=>"dropdown-toggle"} %>
								</li>
								<li><%= link_to "ABOUT",    about_path %></li>
								<li><%= link_to "CONTACT",    contact_path %></li>
						</ul>
					</div>


					<form class="navbar-form pull-right" role="search">
						<div class="form-group search-inner">
							<input type="text" class="form-control" placeholder="Search">
							<a href="" class="glyphicon glyphicon-chevron-right"></a>
						</div>

					</form>
				</nav>
			</div>




		</div>
	</div>
</div>
</header>

