<!DOCTYPE html>
<html>
<head>
	<title>YoYo Burger | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>


	<div class="navbar navbar-default topnav">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li><span class="glyphicon glyphicon-user"></span> <%= link_to "My Account",    '#' %></li>
					<li><%= link_to "Login/Register/Sign out",    '#' %></li>
					<li><%= link_to "Loyalty Points:", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>

	<%= link_to image_tag("yoyologo.jpeg",class:"brand", alt: "Rails"), '' %>   
	<%= link_to image_tag("yoyologo.jpeg",class:"brand", alt: "Rails"), '' %>   



	<div class="navbar navbar-default">
		<div class="navbar-inner">
			<ul class="nav">
				<li><span class="glyphicon glyphicon-search"></span><%= link_to "Home",'#' %></li>
				<li><%= link_to "Menu",    '#' %></li>
				<li><%= link_to "About",    '#' %></li>
				<li><%= link_to "Contact",    '#' %></li>
			</ul>

			<form class="navbar-form navbar-right pull-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>

		</div>
	</div>

</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
