<!DOCTYPE html>
<html>
<head>
	<title>YoYo Burger | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim'%>
</head>
<body>

<<<<<<< HEAD
	<%= render 'layouts/header'%>
=======
<%= render 'layouts/header'%>

<div class="container">
	<%= yield %>
	<%= render 'layouts/footer'%>
	<%= debug(params) if Rails.env.development? %>
</div>

>>>>>>> 95976979683c0e79e1bc7fdf5e5b494a8d234225

	<div class="container">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
